.container {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.mainbtn {
    position: fixed;
    padding-bottom: 40%;
    right: 78%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card {
    border: 5px solid #000;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    padding-top: 160px;
    margin: 10px;
    margin-top: 210px;
    display: inline-block;
    vertical-align: top;
    width: 1670px;
    height: 460px;
}